default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: development_db_name

test:
  <<: *default
  database: test_db_name

staging:
  <<: *default
  database: staging_db_name

production:
  <<: *default
  database: production_db_name
  username: user_name
  password: <%= ENV['TEST_APP_DATABASE_PASSWORD'] %>
