@import 'datatables.min';
@import 'index';
@import 'users';

.field_with_errors {
  input, textarea {
    border-color: #D51A1A !important;
  }

  span.error {
    color: #D51A1A;
    display: block;
    line-height: 20px;
    padding-top: 5px;
  }
}
